.media-top
    .media-search.is-col__lg-9.is-col__md-6.is-col__xs-12
        form
            input.control(type='text', placeholder='Введите запрос')
            button(type='submit'): i.icon-search
    .media-date.is-col__lg-3.is-col__md-6.is-col__xs-12
        input.control#datepicker(type="text")
        span#datepicker-button: i.icon-calendar