nav.greedy
    +menu(navigation)
    .visible__sm.visible__xs
        button.main-nav__toggle.overflow-trigger
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span Меню
    .overflow-parent
        span.overflow-trigger.hidden__sm.hidden__xs.hidden Еще
        nav.overflow-main.hidden
            .overflow-close.overflow-close--js
                img(src='images/icons/close.svg', alt='')
            .overflow
            .overflow-mob
                .lang
                    ul.list--inline
                        li: a(href='#') &nbsp;&nbsp;&nbsp;En&nbsp;&nbsp;&nbsp;
                        li.active: span &nbsp;&nbsp;&nbsp;Ru&nbsp;&nbsp;&nbsp;
                .search.page-header__search--js
                    a(href='#'): i.icon-search