ul.pagination
    li.pagination__item
        a.pagination__link(href='#')
            i.is-icons.is-icons--left
    li.pagination__item.active
        a.pagination__link(href='#') 1
    - for (var x = 2; x < 5; x++)
        li.pagination__item
            a.pagination__link(href='#')= x
    li.pagination__item
        a.pagination__link(href='#') ...
    li.pagination__item
        a.pagination__link(href='#') 22
    li.pagination__item
        a.pagination__link(href='#')
            i.is-icons.is-icons--right
