.popup-background

#letter-id.popup
    a.popup-close.popup-close--js(href="#")
        img(src='images/icons/close.svg', alt='')
    .popup-body
        h3 Связаться с нами
        form(action="" method="method")
            .form__group
                label Ваше имя
                input.control(type='text', placeholder='Алексей', name='name')
            .form__group
                label Ваш номер телефона:
                input.control(type='text', placeholder='+7 (___)___-__-__', name='phone')
            .form__group
                .checkbox
                    input(type='checkbox', id='check')
                    label(for='check') Я согласен с #[a(href='#') условиями] на обработку моих данных
            .form__group
                button.btn.btn--primary(type='submit') Отправить

#form-id.mfp-hide.white-popup.white-popup--md
    a.popup-close.popup-dismiss(href="#"):  i.is-icons.is-icons--close
    .white-body.relative
        h3 Отправить резюме
        form(method='post')
            .is-row
                .is-col.is-col__md-6.is-col__xs-12
                    .form__group
                        label Ваше имя
                        input.control(type='text', placeholder='Алексей', name='name')
                    .form__group
                        label Ваш номер телефона:
                        input.control(type='text', placeholder='+7 (___)___-__-__', name='phone')
                    .form__group
                        label Ваша электронная почта:
                        input.control(type='mail', placeholder='info@gmail.com', name='email')
                .is-col.is-col__md-6.is-col__xs-12
                    .form__group
                        label Ваша фамилия
                        input.control(type='text', placeholder='Алексеев', name='surname')
                    .form__group
                        label Прикрепите резюме в формате doc или pdf
                        .dropzone.dropzone-previews#my-awesome-dropzone
                .is-col.is-col__md-8.is-col__xs-12
                    .form__group
                        .checkbox
                            input(type='checkbox', id='check2')
                            label(for='check2') Выражаю свое согласие на обработку персональных данных в соответствие с полным текстом «Согласия»"
                .is-col.is-col__md-4.is-col__xs-12.text--right
                    .form__group
                        button.btn.btn--primary(type='submit') Отправить
          

#project-id.mfp-hide.white-popup
    a.popup-close.popup-dismiss(href="#"):  i.is-icons.is-icons--close
    .white-popup-body.relative
        .arrows
            a.arrows-prev(href='#')
                i.is-icons.is-icons--left-w
                span Предыдущий проект
            a.arrows-next(href='#')
                span Следующий проект&nbsp;
                i.is-icons.is-icons--right-w
        .white-popup-inner
            .showhide-txt.showhide-txt--js
                i.icon-slide-prev
            .is-row.between__xs
                .is-col: .catalog__item-label.catalog__item-label--primary в строительстве
                .is-col: .mttitle.text__lg Москва
            h1 ТЭЦ-16
            p.text__lg Назначение - комбинированная выработка электроэнергии и тепла для обеспечения потребителей Московского региона. Филиал АО «ТЭК Мосэнерго»  - «Мосэнергопроект» выступил генеральным проектировщиком, выполнив весь комплекс проектно-изыскательских работ
            .flex-bottom
                .is-row.is-row-null
                    .is-col.is-col__lg-5.is-col__xs-12
                        h6 Состав основного оборудования ПГУ-420Т:
                    .is-col.is-col__lg-7.is-col__xs-12
                        ul.list--bullet
                            li Газовая турбина SGT5-4000F (Siemens)
                            li Генератор газовой турбины TLRI SGen5-1000A (Siemens)
                            li Паровая турбина SST5-5000 (Siemens)
                            li Генератор паровой турбины TLRI SGen5-100A-2P (Siemens)
                            li Котел-утилизатор #[br] Еп-264/297/43-13,0/3,0/0,47-558/558/297-11,6вв (ОАО «ЭМАльянс»)
                            li Вентиляторная градирня ID 23000-181-6-170 (SPIG)
                .is-row.is-row-null
                    .is-col.is-col__lg-5.is-col__xs-12
                        h6 Мощность энергоблока ПГУ-420Т:
                    .is-col.is-col__lg-7.is-col__xs-12
                        ul.list--bullet
                            li электрическая - 420 МВт
                            li тепловая - 195 Гкал/ч
        .swiper-pop.swiper-container
           .swiper-wrapper
                - for (var x = 1; x < 11; x++)
                   .swiper-slide
                       img(src='images/project.jpg', alt='')               
           .swiper-cust
               .swiper-button-prev: .icon-slide-prev
               .swiper-pagination
               .swiper-button-next: .icon-slide-next

#photo-id.mfp-hide.white-popup
    a.popup-close.popup-dismiss(href="#"):  i.is-icons.is-icons--close
    .white-popup-body.relative
        .arrows.arrows--long
            a.arrows-prev(href='#')
                i.is-icons.is-icons--left-w
                span Предыдущий проект
            a.arrows-next(href='#')
                span Следующий проект&nbsp;
                i.is-icons.is-icons--right-w
        .swiper-pop.swiper-container
           .swiper-wrapper
                - for (var x = 1; x < 11; x++)
                   .swiper-slide
                       img(src='images/project.jpg', alt='')
           .swiper-cust
               .swiper-button-prev: .icon-slide-prev
               .swiper-pagination
               .swiper-button-next: .icon-slide-next