footer.page-footer
    .page-footer-top
        .container
            .page-footer-menu.is-row.stretch__xs.between__xs
                ul.is-col.is-col__md-9.is-col__xs-12.between__xs.hidden__xs.hidden__sm
                    li
                        ul
                            li.footer-menu-link
                                b: a(href="#") О компании
                                ul
                                    li.footer-menu-link: a(href="#") Общая информация
                                    li.footer-menu-link: a(href="#") История
                                    li.footer-menu-link: a(href="#") Наша команда
                                    li.footer-menu-link: a(href="#") Направления деятельности
                                    li.footer-menu-link: a(href="#") Свидетельства и сертификаты
                                    li.footer-menu-link: a(href="#") Награды
                    li
                        ul
                            li.footer-menu-link: b: a(href="#")  Проекты
                            li.footer-menu-link
                                b: a(href="#") Кадровая политика
                                ul
                                    li.footer-menu-link: a(href="#") Карьера и развитие
                                    li.footer-menu-link: a(href="#") Вакансии
                                    li.footer-menu-link: a(href="#") Доска почета/сотрудники
                    li
                        ul
                            li.footer-menu-link
                                b: a(href="#") Пресс центр
                                ul
                                    li.footer-menu-link: a(href="#") Новости отрасли
                                    li.footer-menu-link: a(href="#") Новости компании
                                    li.footer-menu-link: a(href="#") Медиацентр
                    li
                        ul
                            li.footer-menu-link: b: a(href="#") Партнеры
                            li.footer-menu-link: b: a(href="#") Контакты
                .is-col.is-col__lg.is-col__md-7.is-col__xs-12.page-footer-info
                    .flex-top
                        a.phone(href='tel:+74956171565') +7 495 617-15-65 
                            img(src='images/icons/left-arr.png', alt='')
                        .mail: a(href='mailto:mosenergoproject@gmail.com') mosenergoproject@gmail.com
                    .flex-bottom
                        a.button(href="#")
                            .button-top.text--danger
                                p PPTX
                                i.icon-download
                            .button-bottom Презентация Мосэнергопроект
    .page-footer-bottom
        .container
            .is-row.between__xs.middle__xs
                .page-footer-copyright.is-col.is-col__md.is-col__xs-12
                    | © #[b 2017, "Мосэнергопроект".]
                    br
                    | Общество с ограниченной ответственностью «МОСЭНЕРГОПРОЕКТ» (ООО «МЭП») 
                .page-footer-link.is-col.is-col__md.is-col__xs-12 Cоздание сайта: #[a(href='www.cloudmill.ru', target="_blank") CloudMill]
