footer.page-footer.page-footer--fix
    .page-footer-bottom
        .container
            .is-row.between__xs.middle__xs
                .page-footer-copyright.is-col.is-col__md.is-col__xs-12
                    | © #[b 2017, "Мосэнергопроект".]
                    br
                    | Общество с ограниченной ответственностью «МОСЭНЕРГОПРОЕКТ» (ООО «МЭП») 
                .page-footer-link.is-col.is-col__md.is-col__xs-12 Cоздание сайта: #[a(href='www.cloudmill.ru', target="_blank") CloudMill]
