header.page-header.page-header--wh
    .container.relative
        .is-row-null.between__xs.bottom__md.middle__xs
            .page-header__logo
                a(href="/")
                    .img
                    img(src='images/logomini.png', alt='')
            include ../components/_navbar
            .page-header__search.page-header__search--js
                a(href='#'): i.icon-search
            .page-header__phone
                .page-header__lang
                    ul.list--inline
                        li: a(href='#') &nbsp;&nbsp;&nbsp;En&nbsp;&nbsp;&nbsp;
                        li.active: span &nbsp;&nbsp;&nbsp;Ru&nbsp;&nbsp;&nbsp;
                a.phone(href='tel:+74956171565') +7 495 617-15-65
                    img(src='images/icons/left-arr.png', alt='')
