main.page-main
    .container
        .is-row.half-content
            aside(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
                ul.aside-menu
                    li: a(href='#') Общая информация
                    li: a(href='#') История
                    li: a(href='#') Наша команда
                    li: a(href='#') Направления деятельности
                    li: a(href='#') Свидетельства и сертификаты
                    li.active: a(href='#') Награды
            section(class=section)
                h1.main-title.main-title--half
                    a(href='#'): i.icon-return
                    = title
                .tabs
                  ul.tabs__caption
                    li.active: a(href='#') 2017
                    li: a(href='#') 2016
                    li: a(href='#') 2015
                    li: a(href='#') 2014
                    li: a(href='#') 2013
                    li: a(href='#') 2012
                    li: a(href='#') 2011
                    li: a(href='#') 2010
                    li: a(href='#') 2009
                    li: a(href='#') 2008
                    li: a(href='#') Все
                  .tabs__content.active
                      .awards-catalog.catalog.gallery
                          .awards-catalog-year 2017
                          a.catalog__item.catalog__item--main.is-col__md-6.is-col__xs-12(href='images/awards-1.jpg', title='Лучшая организация по строительству опасных производственных объектов')
                              span
                              .catalog__item-img
                                  img(src='images/awards-1.jpg', alt='')
                              .catalog__item-date 5 апреля 2017
                              .catalog__item-desc
                                  h5 Лучшая организация по строительству опасных производственных объектов
                          - for (var x = 1; x < 6; x++)
                              a.catalog__item.is-col__md-6.is-col__xs-12(href='images/awards-2.jpg')
                                  span
                                  .catalog__item-img
                                      img(src='images/awards-2.jpg', alt='')
                                  .catalog__item-date 5 апреля 2017
                                  .catalog__item-desc
                                      h5 Лучшая организация по строительству опасных производственных объектов
                  - for (var x = 16; x > 9; x--)
                      .tabs__content
                          .awards-catalog.catalog.gallery
                              .awards-catalog-year 20#{x}
                              a.catalog__item.catalog__item--main.is-col__md-6.is-col__xs-12(href='images/awards-1.jpg', title='Лучшая организация по строительству опасных производственных объектов')
                                  span
                                  .catalog__item-img
                                      img(src='images/awards-1.jpg', alt='')
                                  .catalog__item-date 5 апреля 2017
                                  .catalog__item-desc
                                      h5 Лучшая организация по строительству опасных производственных объектов
                              a.catalog__item.is-col__md-6.is-col__xs-12(href='images/awards-2.jpg')
                                  span
                                  .catalog__item-img
                                      img(src='images/awards-2.jpg', alt='')
                                  .catalog__item-date 5 апреля 2017
                                  .catalog__item-desc
                                      h5 Лучшая организация по строительству опасных производственных объектов
                  - for (var x = 9; x > 7; x--)
                      .tabs__content
                          .awards-catalog.catalog.gallery
                              .awards-catalog-year 200#{x}
                              a.catalog__item.catalog__item--main.is-col__md-6.is-col__xs-12(href='images/awards-1.jpg', title='Лучшая организация по строительству опасных производственных объектов')
                                  span
                                  .catalog__item-img
                                      img(src='images/awards-1.jpg', alt='')
                                  .catalog__item-date 5 апреля 2017
                                  .catalog__item-desc
                                      h5 Лучшая организация по строительству опасных производственных объектов
                              a.catalog__item.is-col__md-6.is-col__xs-12(href='images/awards-2.jpg')
                                  span
                                  .catalog__item-img
                                      img(src='images/awards-2.jpg', alt='')
                                  .catalog__item-date 5 апреля 2017
                                  .catalog__item-desc
                                      h5 Лучшая организация по строительству опасных производственных объектов
                  .tabs__content
                      - for (var x = 17; x > 9; x--)
                          .awards-catalog.catalog.gallery
                              .awards-catalog-year 20#{x}
                              a.catalog__item.catalog__item--main.is-col__md-6.is-col__xs-12(href='images/awards-1.jpg', title='Лучшая организация по строительству опасных производственных объектов')
                                  span
                                  .catalog__item-img
                                      img(src='images/awards-1.jpg', alt='')
                                  .catalog__item-date 5 апреля 2017
                                  .catalog__item-desc
                                      h5 Лучшая организация по строительству опасных производственных объектов
                              a.catalog__item.is-col__md-6.is-col__xs-12(href='images/awards-2.jpg')
                                  span
                                  .catalog__item-img
                                      img(src='images/awards-2.jpg', alt='')
                                  .catalog__item-date 5 апреля 2017
                                  .catalog__item-desc
                                      h5 Лучшая организация по строительству опасных производственных объектов
                      - for (var x = 9; x > 7; x--)
                          .awards-catalog.catalog.gallery
                              .awards-catalog-year 200#{x}
                              a.catalog__item.catalog__item--main.is-col__md-6.is-col__xs-12(href='images/awards-1.jpg', title='Лучшая организация по строительству опасных производственных объектов')
                                  span
                                  .catalog__item-img
                                      img(src='images/awards-1.jpg', alt='')
                                  .catalog__item-date 5 апреля 2017
                                  .catalog__item-desc
                                      h5 Лучшая организация по строительству опасных производственных объектов
                              a.catalog__item.is-col__md-6.is-col__xs-12(href='images/awards-2.jpg', title='Лучшая организация по строительству опасных производственных объектов')
                                  span
                                  .catalog__item-img
                                      img(src='images/awards-2.jpg', alt='')
                                  .catalog__item-date 5 апреля 2017
                                  .catalog__item-desc
                                      h5 Лучшая организация по строительству опасных производственных объектов
                      
