main.page-main
    .container
        .is-row.half-content
            aside(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
                ul.aside-menu
                    li.active: a(href='#') Карьера и развитие
                    li: a(href='#') Вакансии
                    li: a(href='#') Доска почета / сотрудники
            section(class=section)
                h1.main-title
                    a(href='#'): i.icon-return
                    = title
                .team-main
                    .team-main__img
                        img(src='images/teammain.jpg', alt='')
                    .team-main__desc
                        h2.is-col__lg-5.is-col__md-4.is-col__xs-12 Работа в команде
                        p.text__lg.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12 Мы стремимся создать не просто коллектив сотрудников, а команду единомышленников, которые вместе справляются с поставленными задачами, оказывают друг другу поддержку и взаимопомощь. Поэтому в нашей компании большое внимание уделяется внутренним коммуникациям.
    .team-back
        .container
            .is-row.half-content
                div(class=aside)
                section(class=section)
                    .team-back__desc
                        h3 Теплоэнергетика 
                        p.text__xl динамично развивающаяся отрасль, в которой необходимо постоянно пополнять знания новых технологий производства, навыки работы с современным программным обеспечением для проектирования и конструкторской работы.
    .container
        .is-row.half-content
            aside(class=aside)
            section(class=section)
                .team-list
                    .is-row.between__xs
                        .is-col.is-col__md-6.is-col__xs-12
                            .team-list__item
                                h4 Карьерный рост
                                p.text__lg Компания обеспечивает карьерный рост сотрудникам, заинтересованным в самообразовании и повышении своих трудовых навыков. Основная цель компании – лидерство на мировом рынке тепловой энергетики.
                            .team-list__item
                                h4 Социальный пакет
                                p.text__lg Мы заботимся о благополучии и здоровье своих сотрудников, компания предоставляет всем ДМС и пакет обязательных социальных обязательств.
                        .is-col.is-col__md-6.is-col__xs-12
                            .team-list__item
                                h4 Инновации
                                p.text__lg Наша компанию уделяет большое внимание повышению квалификации сотрудников, необходимо быть ежедневно в курсе последних новинок по модернизации и техническому оснащению мирового теплоэнергетического комплекса. Наши сотрудники не только используют передовой мировой опыт, но и могут предложить собственные уникальные технические инновации.
                            .team-list__item
                                h4 Профессионализм
                                p.text__lg Всегда рады специалистам, которые хотят реализовать профессиональные знания и опыт, раскрыть свой творческий потенциал. Присоединяйтесь к нашей команде!
                .team-worker
                    h3 Наши сотрудники о МЭП
                    .swiper.team-slider
                        .swiper-wrapper
                            - for (var x = 1; x < 5; x++)
                                .team-slider__item.swiper-slide
                                    .team-slider__item-img
                                        span
                                        img(src='images/worker.jpg', alt='')
                                    .team-slider__item-desc
                                        .team-slider__item-name
                                            h5 Андреев #[br] Александр Витальевич
                                            p главный инженер
                                        .team-blockqoute Приветственная речь, или фраза на одну строку, но скорее на две
                        .swiper-custom.is-col__xl-9
                            .swiper-button-prev
                            .swiper-pagination
                            .swiper-button-next
                                    
