main.page-main.contacts
    .container
        .is-row
            div(class=aside)
                a.return-link.hidden__sm.hidden__xs(href='#')
                    i.icon-return
                    span К предыдущей странице
            section(class=section)
                h1.main-title.visible__xs.visible__sm
                    a(href='#'): i.icon-return
                    = title
                .contacts-main
                    .contacts-main__item.contacts-main__item--fl
                        .contacts-main__item-desc
                            h1.hidden__sm.hidden__xs Контакты
                            .text__lg
                                .mb50
                                    b 105066, г. Москва, Спартаковская ул., д. 2а, стр. 1 
                                p Тел.: 
                                    span.text__xl (499) 265-45-00 
                                p Факс.: 
                                    span.text__xl (499) 265-33-15 
                                p E-mail: 
                                    a.addpopup(href='#') tep@tep-m.ru
                                a.popup-modal(href='#form-id') Отправить резюме
                    .contacts-main__item
                        .object-map
                            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFuwba1JrfeM7tGxjHx0dLCisKkrEimQ&callback=initMap" async defer)
                            script.
                                function initMap() {
                                    var mapOptions = {
                                        center: new google.maps.LatLng(59.91916157, 30.3251195),
                                        zoom: 16,
                                        mapTypeControl: false,
                                        zoomControl: false,
                                        scrollwheel: false,
                                        styles: [
                                            {
                                                "featureType": "administrative",
                                                "elementType": "labels.text",
                                                "stylers": [
                                                    {
                                                        "weight": "0.01"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "administrative",
                                                "elementType": "labels.text.fill",
                                                "stylers": [
                                                    {
                                                        "color": "#000"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "administrative.locality",
                                                "elementType": "all",
                                                "stylers": [
                                                    {
                                                        "color": "#000"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "landscape",
                                                "elementType": "all",
                                                "stylers": [
                                                    {
                                                        "saturation": -100
                                                    },
                                                    {
                                                        "lightness": 100
                                                    },
                                                    {
                                                        "visibility": "simplified"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "landscape",
                                                "elementType": "geometry.fill",
                                                "stylers": [
                                                    {
                                                        "color": "#f3f3f3"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "landscape",
                                                "elementType": "labels.text.fill",
                                                "stylers": [
                                                    {
                                                        "color": "#000"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "poi",
                                                "elementType": "all",
                                                "stylers": [
                                                    {
                                                        "saturation": -100
                                                    },
                                                    {
                                                        "lightness": "100"
                                                    },
                                                    {
                                                        "visibility": "off"
                                                    },
                                                    {
                                                        "weight": "1.00"
                                                    },
                                                    {
                                                        "gamma": "0.92"
                                                    },
                                                    {
                                                        "hue": "#ff0000"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road",
                                                "elementType": "geometry",
                                                "stylers": [
                                                    {
                                                        "saturation": -93
                                                    },
                                                    {
                                                        "lightness": 31
                                                    },
                                                    {
                                                        "visibility": "simplified"
                                                    },
                                                    {
                                                        "color": "#e4e4e4"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road",
                                                "elementType": "labels",
                                                "stylers": [
                                                    {
                                                        "hue": "#ffac00"
                                                    },
                                                    {
                                                        "saturation": -93
                                                    },
                                                    {
                                                        "lightness": 31
                                                    },
                                                    {
                                                        "visibility": "on"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road.arterial",
                                                "elementType": "labels",
                                                "stylers": [
                                                    {
                                                        "hue": "#008eff"
                                                    },
                                                    {
                                                        "saturation": -93
                                                    },
                                                    {
                                                        "lightness": -2
                                                    },
                                                    {
                                                        "visibility": "simplified"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road.local",
                                                "elementType": "geometry",
                                                "stylers": [
                                                    {
                                                        "hue": "#007fff"
                                                    },
                                                    {
                                                        "saturation": -90
                                                    },
                                                    {
                                                        "lightness": -8
                                                    },
                                                    {
                                                        "visibility": "simplified"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "transit",
                                                "elementType": "all",
                                                "stylers": [
                                                    {
                                                        "saturation": -100
                                                    },
                                                    {
                                                        "lightness": 0
                                                    },
                                                    {
                                                        "visibility": "on"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "water",
                                                "elementType": "all",
                                                "stylers": [
                                                    {
                                                        "color": "#edeced"
                                                    },
                                                    {
                                                        "visibility": "simplified"
                                                    }
                                                ]
                                            }
                                        ]
                                    };
                                    var mapElement = document.getElementById('map');
                                    var map = new google.maps.Map(mapElement, mapOptions);
                                    var marker = new google.maps.Marker({
                                        position: new google.maps.LatLng(59.91916157, 30.3251195),
                                        map: map,
                                        icon: "images/marker.png"
                                    });
                                }
                            #map