main.page-main
    .container
        .is-row.half-content
            div(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
                ul.aside-menu
                    li: a(href='#') Карьера и развитие
                    li: a(href='#') Вакансии
                    li.active: a(href='#') Корпоративная жизнь
            section(class=section)
                h1.main-title
                    a(href='#'): i.icon-return
                    = title
                .corporate-main
                    .corporate-main__img
                        img(src='images/corporate-team.jpg', alt='')
                    .corporate-main__desc
                        h2.is-col__lg-5.is-col__md-4.is-col__xs-12 Дружная атмосфера
                        p.text__lg.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12 Мы стремимся создать не просто коллектив сотрудников, а команду единомышленников, которые вместе справляются с поставленными задачами, оказывают друг другу поддержку и взаимопомощь. Поэтому в нашей компании большое внимание уделяется внутренним коммуникациям.
                .corporate-activities
                    .corporate-activities__item
                        .is-row
                            .is-col.is-col__xl-6.is-col__lg-5.is-col__md-5
                                h4 Наши мероприятия
                                p Мы вместе отмечаемся праздники, устраиваем совместные развлекательные мероприятия (катание на коньках, стрельба в тире, поход выходного дня, экскурсии и др.), проводим мастер-классы в офисе, представляем нашу компанию в партнерских спортивных и интеллектуальных играх.
                            .is-col.is-col__xl-5.is-col__lg-7.is-col__md-7.text--center.text__xl--left.text__xs--right
                                img.is-col__xl.is-col__xs-6(src='images/act-1.jpg', alt='')
                                .hidden__xl.is-row
                                    .is-col.is-col__xs-6: img(src='images/act-2.jpg', alt='')
                                    .is-col.is-col__md-5.is-col__xs-6: img(src='images/act-3.jpg', alt='')
                        .is-row.end__xs.mt30.hidden__sm.hidden__xs.hidden__md.hidden__lg
                            .is-col: img(src='images/act-2.jpg', alt='')
                            .is-col: img(src='images/act-3.jpg', alt='')
                    .corporate-activities__item.corporate-activities__item--grey
                        .is-row.between__xs
                            .is-col.is-col__lg-5.is-col__md-6
                                img(src='images/act-4.jpg', alt='')
                            .is-col.is-col__lg-7.is-col__md-6
                                h4 Обучение
                                p.text__lg Большое внимание мы уделяем обучению, как профессиональному, так и личному. Наши сотрудники регулярно посещают профильные мероприятия, а также сами организуют лекции для коллег, где делятся своими навыками и опытом. Кроме того, мы регулярно организуем экскурсии на наши объекты (ТЭЦ, ГРЭС, ГЭС) и в офисы наших партнеров с целью обмена опытом.
                    .corporate-activities__item
                        .is-row
                            .is-col.is-col__xl-6.is-col__lg-7.is-col__md-6
                                h4 Благотворительность и волонтерство
                                div.text__lg.type-flex.between__xs.bottom__xs
                                    p Важная часть нашей корпоративной жизни – это благотворительность и волонтерство. Мы регулярно организуем сбор необходимых вещей нуждающимся, участвуем в благотворительных мероприятия, сотрудничаем с фондами и выступаем волонтерами в социальных проектах.
                                    span.hidden__xl.visible__lg: img(src='images/act-5.jpg', alt='', width='150')
                                .text--right.mt30.visible__xl.hidden__lg.visible__xs.visible__sm.visible__md
                                    img(src='images/act-5.jpg', alt='')
                            .is-col.is-col__lg-5.is-col__md-6
                                img(src='images/act-6.jpg', alt='')
