main.page-main
    .container
        .is-row.half-content
            aside(class=aside)
                a.return-link.hidden__sm.hidden__xs(href='#')
                    i.icon-return
                    span К предыдущей странице
                ul.aside-menu
                    li: a(href='#') Общая информация
                    li: a(href='#') История
                    li: a(href='#') Наша команда
                    li.active: a(href='#') Направления деятельности
                    li: a(href='#') Свидетельства и сертификаты
                    li: a(href='#') Награды
            section(class=section)
                h1.main-title.visible__xs.visible__sm
                    a(href='#'): i.icon-return
                    = title
                .directions-catalog.catalog
                    .directions-catalog-inner.directions-catalog-inner--f
                        a.catalog__item.is-col__xs-12(href='#')
                            .catalog__item-img
                                img(src='images/direction-1.jpg', alt='')
                            .catalog__item-date: h3 01
                            .catalog__item-desc
                                h3 Комплексное проектирование энергообъектов
                                p Краткое описание деятельности 
                    .directions-catalog-inner.directions-catalog-inner--f
                        a.catalog__item.is-col__xs-12(href='#')
                            .catalog__item-img
                                img(src='images/direction-2.jpg', alt='')
                            .catalog__item-date: h3 02
                            .catalog__item-desc
                                h3 Инжиниринговые услуги
                                p Краткое описание деятельности 
                        a.catalog__item.is-col__xs-12(href='#')
                            .catalog__item-img
                                img(src='images/direction-3.jpg', alt='')
                            .catalog__item-date: h3 03
                            .catalog__item-desc
                                h3 Изыскания
                                p Краткое описание деятельности 
                    a.catalog__item.is-col__lg-6.is-col__md-4.is-col__xs-12(href='#')
                        .catalog__item-img
                            img(src='images/direction-4.jpg', alt='')
                        .catalog__item-date: h3 04
                        .catalog__item-desc
                            h3 Архитектурно-строительное проектирование
                            p Краткое описание деятельности
                    a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                        .catalog__item-img
                            img(src='images/direction-5.jpg', alt='')
                        .catalog__item-date: h5 Проектирование инженерных систем
                        .catalog__item-desc
                            h5 05
                    a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                        .catalog__item-img
                            img(src='images/direction-6.jpg', alt='')
                        .catalog__item-date: h5 Разработка специальных отделов проекта 
                        .catalog__item-desc
                            h5 06
                    a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                        .catalog__item-img
                            img(src='images/direction-7.jpg', alt='')
                        .catalog__item-date: h5 Проектирование объектов газового хозяйства
                        .catalog__item-desc
                            h5 07
                    a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                        .catalog__item-img
                            img(src='images/direction-8.jpg', alt='')
                        .catalog__item-date: h5 Научно-исследовательские и опытно-конструкторские работы
                        .catalog__item-desc
                            h5 08
