main.page-main.direction
    .banner
        .container
            .scrollto: img(src='images/scrollto.png', alt='')
            .is-row.half-content
                div(class=aside)
                    a.return-link.hidden__sm.hidden__xs(href='#')
                        i.icon-return
                        span К предыдущей странице
                section(class=section)
                    .direction-box
                        span
                        h1.main-title.visible__xs.visible__sm
                            a(href='#'): i.icon-return
                            = title
                        p.text__lg.hidden__sm.hidden__xs Одним из основных направлений видов деятельности компании «Мосэнергопроект» является выполнение проектных и предпроектных услуг в области строительства и реконструкции тепловых электроснанций
    .direction-sub
        .container
            .is-row.half-content
                div(class=aside)
                section(class=section)
                    .is-row 
                        .is-col.is-col__xl-6.is-col__lg-5.is-col__xs-12
                            h3 Комплексное проектирование тепловых электростанций, подстанций, котельных, тепловых и электрических сетей
                        .is-col.is-col__xl-6.is-col__lg-7.is-col__xs-12
                            h5 "Структура ООО «МЭП» позволяет выполнять комплексные работы по проектированию:
                            ul.list--bullet
                                li для объектов электроэнергетики:  тепловых электростанций, электроподстанций и котельных любой степени сложности;
                                li для линейных объектов:  тепловых и электрических сетей разного класса напряжения.
                                li Оперативно и с надлежащим качеством разработаем проектную документацию в соответствии с требованиями Постановления Правительства №87 от 16.02.2008 г. в объёме необходимом и достаточном для прохождения государственной  (не государственной) экспертизы.
                            h5 Предлагаем услуги по разработке специальных разделов, таких как:
                            ul.list--bullet
                                li расчёты пожарных рисков,
                                li декларации пожарной, промышленной безопасности,
                                li паспорта объектов строительства,
                                li технологических регламентов обращения с отходами и целого ряда других.
                            h5 Оказываем услуги по сопровождению проектной документации в экспертизе.
                            h5 Разрабатываем рабочую документацию, сметы  – по всем специализациям в детализации, необходимой для изготовления, строительства, монтажа, проведения пуско-наладочных работ, включая авторский надзор, вплоть до сдачи объекта в эксплуатацию."
    .container
        .is-row.half-content
            div(class=aside)
            section(class=section)
                h3 Использовалось в проектах
        .is-row.half-content
            div(class=aside)
            section(class=section)
                .direction-slider
                    .swiper-sl.swiper-container
                        .swiper-wrapper
                            .slider__item.swiper-slide
                                span
                                .slider__item-img
                                    img(src='images/slider-1.jpg', alt='')
                                .slider__item-label в строительстве
                                .slider__item-title: h4 Адлерская ТЭС
                            .slider__item.swiper-slide
                                span
                                .slider__item-img
                                    img(src='images/slider-2.jpg', alt='')
                                .slider__item-label в строительстве
                                .slider__item-title: h4 Адлерская ТЭС
                            .slider__item.swiper-slide
                                span
                                .slider__item-img
                                    img(src='images/slider-3.jpg', alt='')
                                .slider__item-label в строительстве
                                .slider__item-title: h4 Адлерская ТЭС
                    .direction-slider-custom
                        .swiper-button-prev
                            img(src='images/slide-right.svg', alt='')
                        .swiper-button-next
                            img(src='images/slide-right.svg', alt='')
