main.page-main
    .container
        .is-row
            aside(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
                ul.aside-menu
                    li: a(href='#') Общая информация
                    li.active: a(href='#') История
                    li: a(href='#') Наша команда
                    li: a(href='#') Направления деятельности
                    li: a(href='#') Свидетельства и сертификаты
                    li: a(href='#') Награды
            section(class=section)
                h1.main-title
                    a(href='#'): i.icon-return
                    = title
                .history
                    .swiper
                        .swiper-wrapper
                            .slider__item-history.swiper-slide
                                .slider__item-img
                                    img(src='images/history-1.jpg', alt='')
                                .slider__item-desc
                                    h5 В декабре 1922 г.
                                    p при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана ГОЭЛРО было создано Проектное бюро 
                                .slider__item-year 1927
                            .slider__item-history.swiper-slide
                                .slider__item-img
                                    img(src='images/history-2.jpg', alt='')
                                .slider__item-desc
                                    h5 В декабре 1927г.
                                    p при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана 
                                .slider__item-year 1922
                            .slider__item-history.swiper-slide
                                .slider__item-img
                                    img(src='images/history-3.jpg', alt='')
                                .slider__item-desc
                                    h5 В декабре 1922 г.
                                    p при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана ГОЭЛРО было создано Проектное бюро 
                                .slider__item-year 1922
                            .slider__item-history.swiper-slide
                                .slider__item-img
                                    img(src='images/history-4.jpg', alt='')
                                .slider__item-desc
                                    h5 В декабре 1922 г.
                                    p при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана ГОЭЛРО было создано Проектное бюро 
                                .slider__item-year 1927
                            .slider__item-history.swiper-slide
                                .slider__item-img
                                    img(src='images/history-3.jpg', alt='')
                                .slider__item-desc
                                    h5 В декабре 1922 г.
                                    p при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана ГОЭЛРО было создано Проектное бюро 
                                .slider__item-year 1922
                            .slider__item-history.swiper-slide
                                .slider__item-img
                                    img(src='images/history-3.jpg', alt='')
                                .slider__item-desc
                                    h5 В декабре 1922 г.
                                    p при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана ГОЭЛРО было создано Проектное бюро
                                .slider__item-year 1922
                        .swiper-custom
                            .swiper-button-prev
                            .swiper-pagination
                            .swiper-button-next