main.page-main
    .container
        .is-row.half-content
            aside(class=aside)
                a.return-link.hidden__sm.hidden__xs(href='#')
                    i.icon-return
                    span К предыдущей странице
            section(class=section)
                h1.main-title.visible__xs.visible__sm
                    a(href='#'): i.icon-return
                    = title
                .hr-main
                    span
                    .span
                    .hr-main__item
                        .hr-main__item-inner
                            h1.hidden__sm.hidden__xs= title
                            p.text__lg Cовокупность целей и принципов, которые определяют направление и содержание работы с персоналом
                    a.hr-main__item(href='#')
                        .hr-main__item-img: img(src='images/hrimg-1.jpg', alt='')
                        .hr-main__item-desc: h5 Карьера и развитие
                    a.hr-main__item(href='#')
                        .hr-main__item-img: img(src='images/hrimg-2.jpg', alt='')
                        .hr-main__item-desc: h5 Вакансии
                    a.hr-main__item(href='#')
                        .hr-main__item-img: img(src='images/hrimg-3.jpg', alt='')
                        .hr-main__item-desc: h5 Корпоративная жизнь
                        
