main
    #fullpage.fullpage
        #section0.section
            .scrollto: img(src='images/scrollto.png', alt='')
            .container
                .intro.centered-block.is-col__xl-6.is-col__lg-8.is-col__md-11
                    .swiper-nw.fullpage-slider.swiper-container
                        .swiper-wrapper
                            - for (var x = 1; x < 4; x++)
                                .swiper-slide
                                    h1 Проекты вашего успеха
                                    p Комплексное проектирование тепловых электростанций, подстанций, тепловых и электрических сетей
                                    a.btn.btn--primary(href='#')
                                        span Подробнее&nbsp;
                                        i.is-icons.is-icons--right-w
                        .swiper-credit
                            .swiper-pagination
                            .swiper-button
                                .swiper-button-prev: img(src='images/left-w.png', alt='')
                                .swiper-button-next: img(src='images/right-w.png', alt='')
        #section1.section
            .container
                .intro.centered-block.is-col__xl-8.is-col__lg-9.is-col__md-11.relative
                    .fullhistory
                        .fullhistory-top
                            .swiper-fl.fullhistory-slider.swiper-container
                                .swiper-wrapper
                                    - for (var x = 1; x < 6; x++)
                                        .swiper-slide
                                            .is-row.is-row-null
                                                .is-col.is-col__xs-12.fullhistory-slider-txt
                                                    h5.text--danger В декабре 1922 г.
                                                    p.text__lg при Московском объединении #[br] государственных электрических станций #[br] было создано Проектное бюро
                                                .is-col.is-col__xl-6.is-col__md-5.is-col__xs-12
                                                    img(src="images/fullhistory.jpg", alt='')
                                                    .fullhistory-nexttxt #[b В 1927 г.] «Мосэнергопроект» участвовал в разработке первой схемы теплоснабжения г.Москвы.
                                .swiper-credit
                                    .swiper-paginationfl
                                    .swiper-buttonfl
                                        .swiper-buttonfl-prev: img(src='images/left.png', alt='')
                                        .swiper-buttonfl-next: img(src='images/right.png', alt='')
                        .fullhistory-bottom.relative
                            .is-col__lg-8
                                .fullhistory-txt
                                    .is-col__xs-12.fullhistory-txt-img: img(src="images/num.png", alt='')
                                    .is-col__lg-4.is-col__md-6.col__xs-12 лет #[br] на рынке проектирования
                                .info-nums
                                    .info-num
                                        .info-num-title 20 #[span электростанций]
                                        .info-num-desc По проектам института «Мосэнергопроект», было построено более 20 электростанций, входящих в систему «Мосэнерго
                                    .info-num
                                        .info-num-title 73 #[span сотрудника]
                                        .info-num-desc На постоянной основе задействовано в работе института более 73 сотрудников высшей квалификации
                            a.linkto(href='#')
                                img(src='images/build.png', alt='')
                                span К истории компании&nbsp;
                                i.is-icons.is-icons--right
        #section2.section
            .container
                .intro.centered-block.is-col__xl-8.is-col__lg-9.is-col__md-11
                    .directs
                        a.directs__item(href='#')
                            h5 01
                            h6 Проектирование инженерных сетей и систем
                        a.directs__item(href='#')
                            h5 02
                            h6 Разработка специальных разделов проекта
                        a.directs__item(href='#')
                            h5 03
                            h6 Инжиниринговые услуги
                        a.directs__item(href='#')
                            h5 04
                            h6 Проектирование объектов газового хозяйства
                        a.directs__item(href='#')
                            h5 05
                            h6 Теплофикация и электросетевое хозяйство
                        a.directs__item(href='#')
                            h5 06
                            h6 Проектирование объектов котлонадзора и подъемных сооружений
                        a.directs__item(href='#')
                            h5 07
                            h6 Разработка тендерной документации
                        a.directs__item(href='#')
                            h5 08
                            h6 Градостроительое и архитектурно-строительное проектирование
                        a.directs__item(href='#')
                            h5 09
                            h6 Реконструкция и модернизация объектов генерации
        #section3.section
            .container
                .intro.centered-block.is-col__xl-8.is-col__lg-9.is-col__md-11.relative
                    .media-catalog-inner
                        .artk.swiper-container.media-catalog-inner--f
                            .swiper-wrapper
                                - for (var x = 1; x <= 10; x++)
                                    .catalog.swiper-slide
                                        a.catalog__item.is-col__xs-12(href='#')
                                            .catalog__item-img
                                                img(src='images/catalog-1.jpg', alt='')
                                            .catalog__item-date #[b 2 сентября,] 13:45
                                            .catalog__item-label.catalog__item-label--info проекты #{x}
                                            .catalog__item-desc
                                                h5 Управление инженерно-изыскательскими #[br] работами на РТС «Терешково»
                                                p «Мосэнергопроект» выступил генеральным проектировщиком, выполнив весь комплекс проектно-изыскательских работ
                        .tumb.swiper-container.media-catalog-inner--f
                            .swiper-wrapper
                                - for (var x = 1; x <= 10; x++)
                                    .catalog.swiper-slide(data-slide=x)
                                        .catalog__item.catalog__item--light.is-col__xs-12
                                            .catalog__item-img
                                            .catalog__item-date #[b 2 сентября,] 13:45
                                            .catalog__item-label.catalog__item-label--warning Награды #{x}
                                            .catalog__item-desc
                                                h6 Лучшая компания по #[br] проектированию закрытых #[br] электроподстанций 2017
                                    //.catalog.swiper-slide(data-slide=x)
                                        .catalog__item.is-col__xs-12
                                            .catalog__item-img
                                                img(src='images/catalog-2.jpg', alt='')
                                            .catalog__item-date #[b 2 сентября,] 13:45
                                            .catalog__item-label.catalog__item-label--info проекты #{x}
                                            .catalog__item-desc
                                                h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                                    //.catalog.swiper-slide.swiper-slide--lg
                                        .catalog__item.catalog__item--light.is-col__xs-12
                                            .catalog__item-img
                                            .catalog__item-date #[b 2 сентября,] 13:45
                                            .catalog__item-label.catalog__item-label--purple Интерьвью
                                            .catalog__item-desc
                                                h6 Визит министра энергетики РФ на строительную #[br] площадку ТЭС Адлерская
                        .swiper-paginationf.text--center.mt30
                    //.swiper-full.swiper-container
                        .swiper-wrapper
                            - for (var x = 1; x < 4; x++)
                                .media-catalog.catalog.swiper-slide
                                    .media-catalog-inner.media-catalog-inner--f
                                        a.catalog__item.is-col__xs-12(href='#')
                                            .catalog__item-img
                                                img(src='images/catalog-1.jpg', alt='')
                                            .catalog__item-date #[b 2 сентября,] 13:45
                                            .catalog__item-label.catalog__item-label--info проекты
                                            .catalog__item-desc
                                                h5 Управление инженерно-изыскательскими #[br] работами на РТС «Терешково»
                                                p «Мосэнергопроект» выступил генеральным проектировщиком, выполнив весь комплекс проектно-изыскательских работ
                                    .media-catalog-inner.media-catalog-inner--f
                                        a.catalog__item.catalog__item--light.is-col__md-6.is-col__xs-12(href='#')
                                            .catalog__item-img
                                            .catalog__item-date #[b 2 сентября,] 13:45
                                            .catalog__item-label.catalog__item-label--warning Награды
                                            .catalog__item-desc
                                                h6 Лучшая компания по #[br] проектированию закрытых #[br] электроподстанций 2017
                                        a.catalog__item.is-col__md-6.is-col__xs-12(href='#')
                                            .catalog__item-img
                                                img(src='images/catalog-2.jpg', alt='')
                                            .catalog__item-date #[b 2 сентября,] 13:45
                                            .catalog__item-label.catalog__item-label--info проекты
                                            .catalog__item-desc
                                                h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                                        a.catalog__item.catalog__item--light.is-col__xs-12(href='#')
                                            .catalog__item-img
                                            .catalog__item-date #[b 2 сентября,] 13:45
                                            .catalog__item-label.catalog__item-label--purple Интерьвью
                                            .catalog__item-desc
                                                h6 Визит министра энергетики РФ на строительную #[br] площадку ТЭС Адлерская
                        .swiper-paginationf.text--center.mt30
                    a.linkto(href='#')
                        span Все новости
                        i.is-icons.is-icons--right
        #section4.section
            .container
                .intro.centered-block.is-col__xl-8.is-col__lg-9.is-col__md-11.relative
                    .is-row
                        .is-col.fullpage-item
                            .is-row.bottom__xs(style='height:100%')
                                .flex-bottom
                                    h2 Наши #[br] партнеры
                        .is-col.fullpage-item
                            .relative
                                .longlist.is-row.end__xs
                                    .is-col.is-col__xl-6.is-col__lg-5.is-col__sm-6.col__xs-12
                                        img(src='images/part-1.jpg', alt='')
                                    .is-col.is-col__xl-6.is-col__lg-5.is-col__sm-6.col__xs-12
                                        img(src='images/part-2.jpg', alt='')
                                    .is-col.is-col__xl-6.is-col__lg-5.is-col__sm-6.col__xs-12
                                        img(src='images/part-3.jpg', alt='')
                                    .is-col.is-col__xl-6.is-col__lg-5.is-col__sm-6.col__xs-12
                                        img(src='images/part-4.jpg', alt='')
                                    .is-col.is-col__xl-6.is-col__lg-5.is-col__sm-6.col__xs-12
                                        img(src='images/part-5.jpg', alt='')
                                a.linkto.linkto--w(href='#')
                                    span Все партнеры
                                    i.is-icons.is-icons--right