main
    #fullpage.fullpage
        #section0.section
            .scrollto: img(src='images/scrollto.png', alt='')
            .swiper-nw.fullpage-slider.swiper-container
                .swiper-wrapper
                    - for (var x = 1; x < 4; x++)
                        .swiper-slide(style='background: url("images/section-1.jpg") no-repeat center / cover')
                            .container
                                .intro.centered-block.is-col__xl-6.is-col__lg-8.is-col__md-11
                                    h1 Верность традициям на пути к инновациям
                                    p Комплексное проектирование тепловых электростанций, подстанций, тепловых и электрических сетей
                                    a.btn.btn--primary(href='#')
                                        span Подробнее&nbsp;
                                        i.is-icons.is-icons--right-w
                .swiper-credit
                    .container
                        .centered-block.is-col__xl-6.is-col__lg-8.is-col__md-11.relative
                            .swiper-pagination
                            .swiper-button
                                .swiper-button-prev: img(src='images/left-w.png', alt='')
                                .swiper-button-next: img(src='images/right-w.png', alt='')
        #section1.section
            .container
                .intro.centered-block.is-col__xl-8.is-col__lg-9.is-col__md-11.relative
                    .fullhistory
                        .fullhistory-top
                            .swiper-fl.fullhistory-slider.swiper-container
                                .swiper-wrapper
                                    - for (var x = 1; x < 6; x++)
                                        .swiper-slide
                                            .is-row.is-row-null
                                                .is-col.is-col__xs-12.fullhistory-slider-txt.hidden__xs.hidden__sm
                                                    h5.text--danger В декабре 1922 г.
                                                    p.text__lg при Московском объединении #[br] государственных электрических станций #[br] было создано Проектное бюро
                                                .is-col.is-col__xl-6.is-col__md-5.is-col__xs-12
                                                    img(src="images/fullhistory.jpg", alt='')
                                                    .fullhistory-nexttxt #[b В 1927 г.] «Мосэнергопроект» участвовал в разработке первой схемы теплоснабжения г.Москвы.
                                .swiper-credit
                                    .swiper-paginationfl
                                    .swiper-buttonfl
                                        .swiper-buttonfl-prev: img(src='images/left.png', alt='')
                                        .swiper-buttonfl-next: img(src='images/right.png', alt='')
                        .fullhistory-bottom.relative
                            .is-col__lg-8.is-col__md-10.is-col__sm-6.is-col__xs-5
                                .fullhistory-txt
                                    .is-col__xs-12.fullhistory-txt-img: img(src="images/num.png", alt='')
                                    .is-col__lg-4.is-col__md-6.col__xs-12 лет #[br] на рынке проектирования
                                .info-nums.hidden__xs.hidden__sm
                                    .info-num
                                        .info-num-title 20 #[span электростанций]
                                        .info-num-desc По проектам института «Мосэнергопроект», было построено более 20 электростанций, входящих в систему «Мосэнерго
                                    .info-num
                                        .info-num-title 73 #[span сотрудника]
                                        .info-num-desc На постоянной основе задействовано в работе института более 73 сотрудников высшей квалификации
                            a.linkto.is-col__lg.is-col__sm-6.is-col__xs-4(href='#')
                                img(src='images/build.png', alt='')
                                span К истории компании&nbsp;
                                i.is-icons.is-icons--right
        #section2.section
            .container
                .intro.centered-block.is-col__xl-8.is-col__lg-9.is-col__md-11
                    .visible__xs.visible__sm
                        .swiper-dir.fullhistory-slider
                            .swiper-wrapper
                                a.directs__item.swiper-slide(href='#')
                                    h5 01
                                    h6 Проектирование инженерных сетей и систем
                                a.directs__item.swiper-slide(href='#')
                                    h5 02
                                    h6 Разработка специальных разделов проекта
                                a.directs__item.swiper-slide(href='#')
                                    h5 03
                                    h6 Инжиниринговые услуги
                                a.directs__item.swiper-slide(href='#')
                                    h5 04
                                    h6 Проектирование объектов газового хозяйства
                                a.directs__item.swiper-slide(href='#')
                                    h5 05
                                    h6 Теплофикация и электросетевое хозяйство
                                a.directs__item.swiper-slide(href='#')
                                    h5 06
                                    h6 Проектирование объектов котлонадзора и подъемных сооружений
                                a.directs__item.swiper-slide(href='#')
                                    h5 07
                                    h6 Разработка тендерной документации
                                a.directs__item.swiper-slide(href='#')
                                    h5 08
                                    h6 Градостроительое и архитектурно-строительное проектирование
                                a.directs__item.swiper-slide(href='#')
                                    h5 09
                                    h6 Реконструкция и модернизация объектов генерации
                            .swiper-credit
                                .swiper-paginationdir
                                .swiper-buttondir
                                    .swiper-buttondir-prev: img(src='images/left-w.png', alt='')
                                    .swiper-buttondir-next: img(src='images/right-w.png', alt='')
                    .hidden__xs.hidden__sm
                        .directs
                            a.directs__item(href='#')
                                h5 01
                                h6 Проектирование инженерных сетей и систем
                            a.directs__item(href='#')
                                h5 02
                                h6 Разработка специальных разделов проекта
                            a.directs__item(href='#')
                                h5 03
                                h6 Инжиниринговые услуги
                            a.directs__item(href='#')
                                h5 04
                                h6 Проектирование объектов газового хозяйства
                            a.directs__item(href='#')
                                h5 05
                                h6 Теплофикация и электросетевое хозяйство
                            a.directs__item(href='#')
                                h5 06
                                h6 Проектирование объектов котлонадзора и подъемных сооружений
                            a.directs__item(href='#')
                                h5 07
                                h6 Разработка тендерной документации
                            a.directs__item(href='#')
                                h5 08
                                h6 Градостроительое и архитектурно-строительное проектирование
                            a.directs__item(href='#')
                                h5 09
                                h6 Реконструкция и модернизация объектов генерации
        #section3.section
            .container
                //.intro.centered-block.is-col__xl-8.is-col__lg-9.is-col__md-11.relative
                    .media-catalog-inner
                        .artk.swiper-container.media-catalog-inner--f.fullhistory-slider
                            .swiper-wrapper
                                - for (var x = 1; x <= 10; x++)
                                    .catalog.swiper-slide
                                        a.catalog__item.is-col__xs-12(href='#')
                                            .catalog__item-img
                                                img(src='images/catalog-1.jpg', alt='')
                                            .catalog__item-date #[b 2 сентября,] 13:45
                                            .catalog__item-label.catalog__item-label--info проекты #{x}
                                            .catalog__item-desc
                                                h5 Управление инженерно-изыскательскими #[br] работами на РТС «Терешково»
                                                p «Мосэнергопроект» выступил генеральным проектировщиком, выполнив весь комплекс проектно-изыскательских работ
                            .swiper-credit.visible__xs
                                .swiper-paginationfl
                                .swiper-buttonfl
                                    .swiper-buttonfl-prev: img(src='images/left.png', alt='')
                                    .swiper-buttonfl-next: img(src='images/right.png', alt='')
                        .tumb.swiper-container.media-catalog-inner--f.hidden__xs
                            .swiper-wrapper
                                - for (var x = 1; x <= 10; x++)
                                    .catalog.swiper-slide(data-slide=x)
                                        .catalog__item.catalog__item--light.is-col__xs-12
                                            .catalog__item-img
                                            .catalog__item-date #[b 2 сентября,] 13:45
                                            .catalog__item-label.catalog__item-label--warning Награды #{x}
                                            .catalog__item-desc
                                                h6 Лучшая компания по #[br] проектированию закрытых #[br] электроподстанций 2017
                        .swiper-paginationf.text--center.mt30
                    a.linkto(href='#')
                        span Все новости
                        i.is-icons.is-icons--right
                .intro.centered-block.is-col__xl-8.is-col__lg-9.is-col__md-11.relative
                    .swiper-full.swiper-container.hidden__xs.hidden__sm
                        .swiper-wrapper
                            - for (var x = 1; x < 4; x++)
                                .swiper-slide.media-catalog-inner.media-catalog-inner--2h(data-count='50')
                                    a.catalog__item.is-col__xs-12(href='#')
                                        .catalog__item-img
                                            img(src='images/catalog-1.jpg', alt='')
                                        .catalog__item-date #[b 2 сентября,] 13:45
                                        .catalog__item-label.catalog__item-label--info проекты
                                        .catalog__item-desc
                                            h5 Управление инженерно-изыскательскими #[br] работами на РТС «Терешково»
                                            p «Мосэнергопроект» выступил генеральным проектировщиком, выполнив весь комплекс проектно-изыскательских работ
                                .swiper-slide.media-catalog-inner(data-count='50')
                                    a.catalog__item.catalog__item--light.is-col__md-6.is-col__xs-12(href='#')
                                        .catalog__item-img
                                        .catalog__item-date #[b 2 сентября,] 13:45
                                        .catalog__item-label.catalog__item-label--warning Награды
                                        .catalog__item-desc
                                            h6 Лучшая компания по #[br] проектированию закрытых #[br] электроподстанций 2017
                                    a.catalog__item.is-col__md-6.is-col__xs-12(href='#')
                                        .catalog__item-img
                                            img(src='images/catalog-2.jpg', alt='')
                                        .catalog__item-date #[b 2 сентября,] 13:45
                                        .catalog__item-label.catalog__item-label--info проекты
                                        .catalog__item-desc
                                            h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                                    a.catalog__item.catalog__item--light.is-col__xs-12(href='#')
                                        .catalog__item-img
                                        .catalog__item-date #[b 2 сентября,] 13:45
                                        .catalog__item-label.catalog__item-label--purple Интерьвью
                                        .catalog__item-desc
                                            h6 Визит министра энергетики РФ на строительную #[br] площадку ТЭС Адлерская
                        .swiper-paginationf.text--center.mt30
                    .swiper-fullmob.swiper-container.visible__xs.visible__sm
                        .swiper-wrapper
                            - for (var x = 1; x < 4; x++)
                                .swiper-slide.media-catalog-inner.media-catalog-inner--2h(data-count='50')
                                    a.catalog__item.is-col__xs-12(href='#')
                                        .catalog__item-img
                                            img(src='images/catalog-1.jpg', alt='')
                                        .catalog__item-date #[b 2 сентября,] 13:45
                                        .catalog__item-label.catalog__item-label--info проекты
                                        .catalog__item-desc
                                            h5 Управление инженерно-изыскательскими #[br] работами на РТС «Терешково»
                                            p «Мосэнергопроект» выступил генеральным проектировщиком, выполнив весь комплекс проектно-изыскательских работ
                        .swiper-credit
                            .swiper-paginationfl
                            .swiper-buttonfl
                                .swiper-buttonfl-prev: img(src='images/left.png', alt='')
                                .swiper-buttonfl-next: img(src='images/right.png', alt='')
                    a.linkto(href='#')
                        span Все новости
                        i.is-icons.is-icons--right
        #section4.section
            .container
                .intro.centered-block.is-col.is-col__xl-8.is-col__lg-7.is-col__md-11.relative
                    .is-row
                        .is-col.fullpage-item
                            .is-row.bottom__xs(style='height:100%')
                                .flex-bottom
                                    h2 Наши #[br] партнеры
                        .is-col.fullpage-item
                            .relative
                                .longlist.is-row.end__md
                                    .is-col.is-col__xl-6.is-col__lg-5.is-col__xs-6
                                        img(src='images/part-1.jpg', alt='')
                                    .is-col.is-col__xl-6.is-col__lg-5.is-col__xs-6
                                        img(src='images/part-2.jpg', alt='')
                                    .is-col.is-col__xl-6.is-col__lg-5.is-col__xs-6
                                        img(src='images/part-3.jpg', alt='')
                                    .is-col.is-col__xl-6.is-col__lg-5.is-col__xs-6
                                        img(src='images/part-4.jpg', alt='')
                                    .is-col.is-col__xl-6.is-col__lg-5.is-col__xs-6
                                        img(src='images/part-5.jpg', alt='')
                                a.linkto.linkto--w(href='#')
                                    span Все партнеры
                                    i.is-icons.is-icons--right
                .visible__xs.margtop40: a.linkto--w(href='#') Cоздание сайта: #[b CloudMill]