main.page-main
    .container
        .is-row.half-content
            aside(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
                ul.aside-menu
                    li: a(href='#') Новости компании
                    li.active: a(href='#') Новости отрасли
                    li: a(href='#') Медиацентр
            section(class=section)
                h1.main-title.main-title--half
                    a(href='#'): i.icon-return
                    = title
                .media-main
                    include ../components/_media-top
                    .media-catalog.catalog(data-count='17')
                        .media-catalog-inner
                            a.catalog__item.catalog__item--light.is-col__lg-6.is-col__md-4.is-col__xs-12(href='#')
                                .catalog__item-img
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--primary gazeta.ru
                                .catalog__item-desc
                                    .tags
                                        span #Adlertes
                                        span #Visit
                                    h6 Визит министра энергетики РФ на строительную площадку ТЭС Адлерская
                            a.catalog__item.catalog__item--light.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                .catalog__item-img
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--primary Lenta.ru
                                .catalog__item-desc
                                    .tags
                                        span #Adlertes
                                        span #Visit
                                    h6 Лучшая компания по проектированию закрытых электроподстанций 2017
                            a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                .catalog__item-img
                                    img(src='images/catalog-2.jpg', alt='')
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--primary Lenta.ru
                                .catalog__item-desc
                                    .tags
                                        span #Adlertes
                                        span #Visit
                                    h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                            a.catalog__item.catalog__item--light.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                .catalog__item-img
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--primary Lenta.ru
                                .catalog__item-desc
                                    .tags
                                        span #Adlertes
                                        span #Visit
                                    h6 Лучшая компания по проектированию закрытых электроподстанций 2017
                            a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                .catalog__item-img
                                    img(src='images/catalog-2.jpg', alt='')
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--primary Lenta.ru
                                .catalog__item-desc
                                    .tags
                                        span #Adlertes
                                        span #Visit
                                    h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                            a.catalog__item.catalog__item--light.is-col__lg-6.is-col__md-4.is-col__xs-12(href='#')
                                .catalog__item-img
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--primary gazeta.ru
                                .catalog__item-desc
                                    .tags
                                        span #Adlertes
                                        span #Visit
                                    h6 Визит министра энергетики РФ на строительную площадку ТЭС Адлерская
                            - for (var x = 1; x < 3; x++)
                                a.catalog__item.catalog__item--light.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                    .catalog__item-img
                                    .catalog__item-date #[b 2 сентября,] 13:45
                                    .catalog__item-label.catalog__item-label--primary Lenta.ru
                                    .catalog__item-desc
                                        .tags
                                            span #Adlertes
                                            span #Visit
                                        h6 Лучшая компания по проектированию закрытых электроподстанций 2017
                                a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                    .catalog__item-img
                                        img(src='images/catalog-2.jpg', alt='')
                                    .catalog__item-date #[b 2 сентября,] 13:45
                                    .catalog__item-label.catalog__item-label--primary Lenta.ru
                                    .catalog__item-desc
                                        .tags
                                            span #Adlertes
                                            span #Visit
                                        h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                            - for (var x = 1; x < 18; x++)
                                a.catalog__item.catalog__item--light.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                    .catalog__item-img
                                    .catalog__item-date #[b 2 сентября,] 13:45
                                    .catalog__item-label.catalog__item-label--primary Lenta.ru
                                    .catalog__item-desc
                                        .tags
                                            span #Adlertes
                                            span #Visit
                                        h6 Лучшая компания по проектированию закрытых электроподстанций 2017
                            .loadmore__item.is-col__lg-3.is-col__md-4.is-col__xs-12
                                .loadmore.loadmore--js
                                    img(src='images/plusmore.svg', alt='')
                                    div Больше #[br] новостей