main.page-main
    .container 
        .is-row.half-content
            div(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
                ul.aside-menu
                    li.active: a(href='#') Общая информация
                    li: a(href='#') История
                    li: a(href='#') Наша команда
                    li: a(href='#') Направления деятельности
                    li: a(href='#') Свидетельства и сертификаты
                    li: a(href='#') Награды
            section(class=section)
                h1.main-title
                    a(href='#'): i.icon-return
                    = title
                .info-main
                    .info-main__img
                        img(src='images/info-team.jpg', alt='')
                    .info-main__desc
                        h2 Мосэнергопроект 
                        p.text__lg Один из ведущих проектных институтов России
                .info-activities
                    h3 Крупная компания в своей сфере, с обширным положительным опытом, хорошим кадровым потенциалом, богатой историей. 
                    .is-row  
                        .is-col.is-col__md-5.is-col__xs-12.hidden__xs.hidden__sm
                            img(src='images/num.png', alt='')
                            h4.marg-top30 Более 95 лет на&nbsp;рынке проектирования
                        .is-col.is-col__md-7.is-col__xs-12
                            .is-col__xl-6.is-col__lg-7.is-col__md-10.is-col__xs-12
                                p.text__sm #[b В декабре 1922 г.] при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана ГОЭЛРО было создано Проектное бюро в составе четырех человек
                                a(href='#') История института
                                    i.is-icons.is-icons--right
                            hr
                            .visible__xs.visible__sm.info-img: img(src='images/num.png', alt='')
                            //.is-col__lg-4.is-col__md-5.is-col__xs-6.flex-right__xs
                            .info-nums
                                .info-num
                                    .info-num-title 290#[span наград]
                                    .info-num-desc По проектам института «Мосэнергопроект», было построено более 20 электростанций, входящих в систему «Мосэнерго
                                .info-num
                                    .info-num-title 73#[span сотрудника]
                                    .info-num-desc На постоянной основе задействовано в работе института более 73 сотрудников высшей квалификации
                    .info-mainimg
                        img(src='images/info-map.png', alt='')
                    .is-row.info-load
                        .is-col.is-col__xl-4.is-col__lg-3.is-col__md-5
                            a.button(href="#")
                                .button-left.text--center
                                    i.icon-download
                                    div Скачать
                                .button-right
                                    .button-top
                                        p PPTX
                                    .button-bottom Презентация Мосэнергопроект
                        .is-col.is-col__lg-8.is-col__md-7
                            h4 Основное направление деятельности института –
                            p.text__lg #[b разработка проектной документации] для нового строительства, реконструкции, технического перевооружения и модернизации теплоэлектроцентралей, тепловых электрических станций и объектов тепловых сетей, закрытых и открытых электроподстанций напряжением 110 и 220 кВ, воздушных и кабельных линий электропередачи.