main.page-main
    .container
        .is-row.half-content
            aside(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
                ul.aside-menu
                    li: a(href='#') Новости компании
                    li: a(href='#') Новости отрасли
                    li.active: a(href='#') Медиацентр
            section(class=section)
                h1.main-title.main-title--half
                    a(href='#'): i.icon-return
                    = title
                .media-main
                    include ../components/_media-top
                    .media-catalog.catalog(data-count='15')
                        .media-catalog-inner.media-catalog-inner--f
                            a.catalog__item.is-col__xs-12(href='#')
                                .catalog__item-img
                                    img(src='images/catalog-1.jpg', alt='')
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--danger Видео
                                .catalog__item-desc
                                    h5 Управление инженерно-изыскательскими #[br] работами на РТС «Терешково»
                                    p «Мосэнергопроект» выступил генеральным проектировщиком, выполнив весь комплекс проектно-изыскательских работ
                        .media-catalog-inner.media-catalog-inner--f
                            a.catalog__item.is-col__md-6.is-col__xs-12(href='#')
                                .catalog__item-img
                                    img(src='images/catalog-2.jpg', alt='')
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--danger Видео
                                .catalog__item-desc
                                    h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                            a.catalog__item.is-col__md-6.is-col__xs-12(href='#')
                                .catalog__item-img
                                    img(src='images/catalog-2.jpg', alt='')
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--success Видео
                                .catalog__item-desc
                                    h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                            a.catalog__item.is-col__xs-12(href='#')
                                .catalog__item-img
                                    img(src='images/catalog-3.jpg', alt='')
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--success Видео
                                .catalog__item-desc
                                    h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                        .media-catalog-inner
                            - for (var x = 1; x < 5; x++)
                                a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                    .catalog__item-img
                                        img(src='images/catalog-2.jpg', alt='')
                                    .catalog__item-date #[b 2 сентября,] 13:45
                                    .catalog__item-label.catalog__item-label--danger Видео
                                    .catalog__item-desc
                                        h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                                a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                    .catalog__item-img
                                        img(src='images/catalog-2.jpg', alt='')
                                    .catalog__item-date #[b 2 сентября,] 13:45
                                    .catalog__item-label.catalog__item-label--success Видео
                                    .catalog__item-desc
                                        h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                            - for (var x = 1; x < 14; x++)
                                a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                    .catalog__item-img
                                        img(src='images/catalog-2.jpg', alt='')
                                    .catalog__item-date #[b 2 сентября,] 13:45
                                    .catalog__item-label.catalog__item-label--danger Видео
                                    .catalog__item-desc
                                        h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                                a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                    .catalog__item-img
                                        img(src='images/catalog-2.jpg', alt='')
                                    .catalog__item-date #[b 2 сентября,] 13:45
                                    .catalog__item-label.catalog__item-label--success Видео
                                    .catalog__item-desc
                                        h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                            .loadmore__item.is-col__lg-3.is-col__md-4.is-col__xs-12
                                .loadmore.loadmore--js
                                    img(src='images/plusmore.svg', alt='')
                                    div Больше #[br] новостей
