main.page-main
    .container
        .is-row.half-content
            div(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
            section.news-one(class=section)
                h1.main-title
                    a(href='#'): i.icon-return
                    div
                        .inner-title= title
                        .date #[b 2 сентября,] 13:45
                        .catalog__item-label.catalog__item-label--warning Награды
                p.text__xl Весной 2017 года компания АО «ТЭК-Мосэнерго» возобновила работы по строительству «Грозненской ТЭС» в роли генерального подрядчика.  Работы проводятся на территории бывшей «Грозненской ТЭЦ-3».
                .swiper-nw.news-slider.swiper-container
                    .swiper-wrapper
                        - for (var x = 1; x < 6; x++)
                            .swiper-slide.news-slider__item
                                img(src='images/news-slider.jpg', alt='')
                    .swiper-custom
                        .swiper-button-prev
                        .swiper-pagination
                        .swiper-button-next
                .is-row
                    .is-col.is-col__lg-3.is-col__xs-12
                        p: b Грозненская Тэс
                    .is-col.is-col__xl-8.is-col__lg-9.is-col__xs-12.text__lg
                        p Первый этап строительства предусматривает строительство двух блоков мощностью по 180 МВт каждый, состоящих из газотурбинных установок фирмы Siemens и необходимой инфраструктуры.
                        p Окончание первого этапа строительства намечено на декабрь 2018 года.
                        p Второй  этап строительства Грозненской ТЭС предусматривает расширение блоков ГТУ до блоков ПГУ путем строительства двух котлов утилизаторов с двумя паровыми турбинами и необходимой инфраструктурой.
                        p.sign Заказчиком – инвестором на проекте выступает ООО «ГЭХ Инжиниринг». #[br] Генеральный проектировщик ООО «Мосэнергопроект» - подрядчик ООО «ГЭХ Инжиниринг».
                        ul.list--inline.social.hidden__sm.hidden__xs
                            li Поделиться:
                            li: a.vk(href='#') Vkontakte     
                            li: a.fa(href='#') Facebook     
                            li: a.tw(href='#') Twitter
                h3 Еще новости
                .media-catalog.catalog(data-count='4')
                    - for (var x = 1; x < 3; x++)
                        a.catalog__item.catalog__item--light.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                            .catalog__item-img
                                img(src='images/news-1.jpg', alt='')
                            .catalog__item-date #[b 2 сентября,] 13:45
                            .catalog__item-label.catalog__item-label--warning Награды
                            .catalog__item-desc
                                h6 Лучшая компания по #[br] проектированию закрытых #[br] электроподстанций 2017
                        a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                            .catalog__item-img
                                img(src='images/catalog-2.jpg', alt='')
                            .catalog__item-date #[b 2 сентября,] 13:45
                            .catalog__item-label.catalog__item-label--info проекты
                            .catalog__item-desc
                                h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
