main.page-main
    .container
        .is-row.half-content
            div(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
            section(class=section)
                h1.main-title
                    a(href='#'): i.icon-return
                    = title
                .longlist 
                    .longlist__item.is-row
                        .is-col.is-col__lg-4.is-col__md-5.is-col__xs-12
                            .longlist-img
                                span
                                img(src='images/part-1.jpg', alt='')
                        .is-col.is-col__lg-8.is-col__md-7.is-col__xs-12
                            .longlist-desc
                                h5 ТГК-2
                                p.text__lg при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана ГОЭЛРО было создано Проектное бюро 
                                a(href='#')
                                    i.icon-web-link
                                    span www.nameofsite.com
                    .longlist__item.is-row
                        .is-col.is-col__lg-4.is-col__md-5.is-col__xs-12
                            .longlist-img
                                span
                                img(src='images/part-2.jpg', alt='')
                        .is-col.is-col__lg-8.is-col__md-7.is-col__xs-12
                            .longlist-desc
                                h5 Тэк Мосэнерго
                                p.text__lg при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана ГОЭЛРО было создано Проектное бюро 
                                a(href='#')
                                    i.icon-web-link
                                    span www.nameofsite.com
                    .longlist__item.is-row
                        .is-col.is-col__lg-4.is-col__md-5.is-col__xs-12
                            .longlist-img
                                span
                                img(src='images/part-3.jpg', alt='')
                        .is-col.is-col__lg-8.is-col__md-7.is-col__xs-12
                            .longlist-desc
                                h5 Мосэнерго
                                p.text__lg при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана ГОЭЛРО было создано Проектное бюро 
                                a(href='#')
                                    i.icon-web-link
                                    span www.nameofsite.com
                    .longlist__item.is-row
                        .is-col.is-col__lg-4.is-col__md-5.is-col__xs-12
                            .longlist-img
                                span
                                img(src='images/part-4.jpg', alt='')
                        .is-col.is-col__lg-8.is-col__md-7.is-col__xs-12
                            .longlist-desc
                                h5 ТГК-1
                                p.text__lg при Московском объединении государственных электрических станций (МОГЭС) в рамках реализации плана ГОЭЛРО было создано Проектное бюро 
                                a(href='#')
                                    i.icon-web-link
                                    span www.nameofsite.com
