main.page-main
    .container
        .is-row.half-content
            aside(class=aside)
                a.return-link.hidden__sm.hidden__xs(href='#')
                    i.icon-return
                    span К предыдущей странице
            section(class=section)
                h1.visible__xs.visible__sm
                    a(href='#'): i.icon-return
                    =title
                .press
                    span
                    .span
                    a.press__item(href='#')
                        .press__item-inner
                            h1.hidden__sm.hidden__xs= title
                            p.text__lg Подразделение организации, госучреждения, органа власти, осуществляющее взаимодействие данной структуры с прессой и прочими СМИ
                    a.press__item(href='#')
                        .press-inner
                            .press__item-logo: img(src='images/mark.png', alt='')
                            .press__item-desc: h5 Новости компании
                    a.press__item(href='#')
                        .press-inner
                            .press__item-logo: i.icon-draw
                            .press__item-desc: h5 Новости отрасли
                    a.press__item(href='#')
                        .press-inner
                            .press__item-logo: i.icon-photo-camera
                            .press__item-desc: h5 Медиацентр
                        
