main.page-main.page-main--null
    .container.tabs
        .is-row
            div(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
            section(class=section)
                h1.main-title
                    a(href='#'): i.icon-return
                    = title
                .is-row.between__xs.middle__xs
                    .is-col
                        ul.tabs__caption 
                            li.active: a(href='#') В строительстве
                            li: a(href='#') Завершенные
                            li: a(href='#') все
                    .is-col
                        label.switch.text__lg
                            .switch-name Плиткой
                            input(type="checkbox")
                            span.slider
                            .switch-name.text--primary Объекты на карте
        .project-map
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwFuwba1JrfeM7tGxjHx0dLCisKkrEimQ&callback=initMap" async defer)
            script.
                function initMap() {
                    var markers = [];
                    var locations = [
                        ['<a href="#"><img src="images/mapimg.jpg", alt=""><div class="map-title"><span>Адлерская ТЭС</span><i class="is-icons is-icons--right"></i></div></a>', 59.91916157, 30.3251195],
                        ['<a href="#"><img src="images/mapimg.jpg", alt=""><div class="map-title"><span>Адлерская ТЭС</span><i class="is-icons is-icons--right"></i></div></a>', 59.91756978, 30.31812429],
                        ['<a href="#"><img src="images/mapimg.jpg", alt=""><div class="map-title"><span>Адлерская ТЭС</span><i class="is-icons is-icons--right"></i></div></a>', 59.92049517, 30.33250093],
                        ['<a href="#"><img src="images/mapimg.jpg", alt=""><div class="map-title"><span>Адлерская ТЭС</span><i class="is-icons is-icons--right"></i></div></a>', 59.91701049, 30.3276515],
                        ['<a href="#"><img src="images/mapimg.jpg", alt=""><div class="map-title"><span>Адлерская ТЭС</span><i class="is-icons is-icons--right"></i></div></a>', 59.92032309, 30.32258749]];
                    var mapOptions = {
                        center: new google.maps.LatLng(59.91916157, 30.3251195),
                        zoom: 16,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        mapTypeControl: false,
                        zoomControl: false,
                        scrollwheel: false,
                        styles: [
                          {
                            "featureType": "administrative",
                            "elementType": "labels.text",
                            "stylers": [
                              {
                              "weight": "0.01"
                              }
                            ]
                          },
                          {
                            "featureType": "administrative",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                              "color": "#000"
                              }
                            ]
                          },
                          {
                            "featureType": "administrative.locality",
                            "elementType": "all",
                            "stylers": [
                              {
                              "color": "#000"
                              }
                            ]
                          },
                          {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                              {
                              "saturation": -100
                              },
                              {
                              "lightness": 100
                              },
                              {
                              "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "landscape",
                            "elementType": "geometry.fill",
                            "stylers": [
                              {
                              "color": "#f3f3f3"
                              }
                            ]
                          },
                          {
                            "featureType": "landscape",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                              "color": "#000"
                              }
                            ]
                          },
                          {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [
                              {
                              "saturation": -100
                              },
                              {
                              "lightness": "100"
                              },
                              {
                              "visibility": "off"
                              },
                              {
                              "weight": "1.00"
                              },
                              {
                              "gamma": "0.92"
                              },
                              {
                              "hue": "#ff0000"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                              {
                              "saturation": -93
                              },
                              {
                              "lightness": 31
                              },
                              {
                              "visibility": "simplified"
                              },
                              {
                              "color": "#e4e4e4"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "labels",
                            "stylers": [
                              {
                              "hue": "#ffac00"
                              },
                              {
                              "saturation": -93
                              },
                              {
                              "lightness": 31
                              },
                              {
                              "visibility": "on"
                              }
                            ]
                          },
                          {
                            "featureType": "road.arterial",
                            "elementType": "labels",
                            "stylers": [
                              {
                              "hue": "#008eff"
                              },
                              {
                              "saturation": -93
                              },
                              {
                              "lightness": -2
                              },
                              {
                              "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "road.local",
                            "elementType": "geometry",
                            "stylers": [
                              {
                              "hue": "#007fff"
                              },
                              {
                              "saturation": -90
                              },
                              {
                              "lightness": -8
                              },
                              {
                              "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [
                              {
                              "saturation": -100
                              },
                              {
                              "lightness": 0
                              },
                              {
                              "visibility": "on"
                              }
                            ]
                          },
                          {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": [
                              {
                              "color": "#edeced" 
                              },
                              {
                              "visibility": "simplified"
                              }
                            ]
                          }
                        ]
                    };
                    map = new google.maps.Map(document.getElementById("map"), mapOptions);
                    var infowindow = new google.maps.InfoWindow();
                    var marker, i;
                    for (i = 0; i < locations.length; i++) {
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                            map: map,
                            icon: "images/marker-a.png"
                        });
                        markers.push(marker);
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                for (var j = 0; j < markers.length; j++) {
                                    markers[j].setIcon('images/marker-a.png');
                                }
                                infowindow.setContent(locations[i][0]);
                                this.setIcon('images/marker.png');
                                infowindow.open(map, marker);
                            };
                        })(marker, i));
                    }
                    google.maps.event.addListener(infowindow, 'domready', function() {
                        var iwOuter = $('.gm-style-iw');
                        var iwCloseBtn = iwOuter.next().css({display: 'none'});
                        var iwBackground = iwOuter.prev();
                        iwBackground.children(':nth-child(3)').find('div').children().css({'box-shadow': 'rgba(72, 181, 233, 0.6) 0px 1p'});
                        iwBackground.children(':nth-child(2)').css({'display' : 'none'});
                        iwBackground.children(':nth-child(4)').css({'display' : 'none'});                        
                        //- iwOuter.parent().parent().css({display: 'none'});
                    });
                }
            #map
        .project-list
            .tabs__content.active
              .projects-catalog.catalog
                  - for (var x = 1; x < 11; x++)
                      a.popup-modal.catalog__item.is-col__lg-4.is-col__md-6.is-col__xs-12(href='#project-id')
                          span
                          .catalog__item-img
                              img(src='images/project-'+x+'.jpg', alt='')
                          .catalog__item-date г. Адлер
                          .catalog__item-label.catalog__item-label--primary в строительстве
                          .catalog__item-desc
                              h4 Адлерская ТЭС
            .tabs__content
              .projects-catalog.catalog
                    a.catalog__item.catalog__item--done.is-col__lg-4.is-col__md-6.is-col__xs-12(href='#')
                        span
                        .catalog__item-img
                            img(src='images/project-1.jpg', alt='')
                        .catalog__item-date г. Адлер
                        .catalog__item-label.catalog__item-label--primary Объект сдан
                        .catalog__item-desc
                            h4 Адлерская ТЭС
            .tabs__content
              .projects-catalog.catalog
                    - for (var x = 1; x < 11; x++)
                        a.popup-modal.catalog__item.is-col__lg-4.is-col__md-6.is-col__xs-12(href='#project-id')
                            span
                            .catalog__item-img
                                img(src='images/project-'+x+'.jpg', alt='')
                            .catalog__item-date г. Адлер
                            .catalog__item-label.catalog__item-label--primary в строительстве
                            .catalog__item-desc
                                h4 Адлерская ТЭС
                    a.catalog__item.catalog__item--done.is-col__lg-4.is-col__md-6.is-col__xs-12(href='#')
                        span
                        .catalog__item-img
                            img(src='images/project-1.jpg', alt='') 
                        .catalog__item-date г. Адлер
                        .catalog__item-label.catalog__item-label--primary Объект сдан
                        .catalog__item-desc
                            h4 Адлерская ТЭС
