main.page-main
    .container
        .is-row.half-content
            div(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
            section(class=section)
                h1.main-title.main-title--half
                    a(href='#'): i.icon-return
                    = title
                .search
                    .media-search
                        form    
                            input.control(type='text', placeholder='Введите название интересующей вас новости')
                            button(type='submit'): i.icon-search
                    .text--uppercase.search-results Результатов найдено: #[b 4]
                    .search-inner
                        a.search__item(href='#')
                            .flex.between__xs
                                .catalog__item-label.catalog__item-label--purple Интерьвью
                                .date #[b 2 сентября,] 13:45
                            h6 Визит министра энергетики РФ на строительную площадку ТЭС Адлерская
                        a.search__item(href='#')
                            .flex.between__xs
                                .catalog__item-label.catalog__item-label--purple Интерьвью
                                .date #[b 2 сентября,] 13:45
                            h6 Визит министра энергетики РФ на строительную площадку ТЭС Адлерская
                        a.search__item(href='#')
                            .flex.between__xs
                                div
                                .date #[b 2 сентября,] 13:45
                            h6 Визит министра энергетики РФ на строительную площадку ТЭС Адлерская
                        a.search__item(href='#')
                            .flex.between__xs
                                .catalog__item-label.catalog__item-label--purple Интерьвью
                                .date #[b 2 сентября,] 13:45
                            h6 Визит министра энергетики РФ на строительную площадку ТЭС Адлерская
