main.page-main
    .container
        .is-row.half-content
            aside(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
                ul.aside-menu
                    li: a(href='#') Общая информация
                    li: a(href='#') История
                    li: a(href='#') Наша команда
                    li: a(href='#') Направления деятельности
                    li.active: a(href='#') Свидетельства и сертификаты
                    li: a(href='#') Награды
            section(class=section)
                h1.main-title.main-title--half
                    a(href='#'): i.icon-return
                    = title
                .sert-main
                    h4 Внутренние документы
                    .sert-main__items
                        a.sert-main__item(href='#')
                            span
                            .sert-main__item-label.label--danger PDF
                            .sert-main__item-desc Разработка проектной документации для нового строительства, реконструкции, технического перевооружения и модернизации 
                        a.sert-main__item(href='#')
                            span
                            .sert-main__item-label.label--danger PDF
                            .sert-main__item-desc Разработка проектной документации для нового строительства
                        a.sert-main__item(href='#')
                            span
                            .sert-main__item-label DOC
                            .sert-main__item-desc Разработка проектной документации для нового строительства, реконструкции
                    h4 Устав компании
                    .sert-main__items
                        a.sert-main__item(href='#')
                            span
                            .sert-main__item-label.label--danger PDF
                            .sert-main__item-desc Разработка проектной документации для нового строительства, реконструкции, технического перевооружения и модернизации 
                        a.sert-main__item(href='#')
                            span
                            .sert-main__item-label DOC
                            .sert-main__item-desc Разработка проектной документации для нового строительства, реконструкции
                    h4 Свидетельства и сертификаты
                    .sert-main__items
                        .popup-gallery.sert-main__item.sert-main__item--img
                            a(href='#gallery1')
                                span
                                .sert-main__item-img: img(src='images/sert.png', alt='')
                                .sert-main__item-desc Разработка проектной документации для нового строительства, реконструкции, технического перевооружения и модернизации
                            #gallery1.gallery
                                a(href='images/act-1.jpg')
                                a(href='images/act-2.jpg')
                                a(href='images/act-3.jpg')
                        .popup-gallery.sert-main__item.sert-main__item--img
                            a(href='#gallery2')
                                span
                                .sert-main__item-img: img(src='images/sert.png', alt='')
                                .sert-main__item-desc Разработка проектной документации для нового строительства
                            #gallery2.gallery
                                a(href='images/act-4.jpg')
                                a(href='images/act-5.jpg')
                                a(href='images/act-2.jpg')
                        .popup-gallery.sert-main__item.sert-main__item--img
                            a(href='#gallery3')
                                span
                                .sert-main__item-img: img(src='images/sert.png', alt='')
                                .sert-main__item-desc Разработка проектной документации для нового строительства, реконструкции
                            #gallery3.gallery
                                a(href='images/act-4.jpg')
                                a(href='images/act-5.jpg')
                                a(href='images/act-1.jpg')
                        .popup-gallery.sert-main__item.sert-main__item--img
                            a(href='#gallery4')
                                span
                                .sert-main__item-img: img(src='images/sert.png', alt='')
                                .sert-main__item-desc Разработка проектной документации для нового строительства
                            #gallery4.gallery
                                a(href='images/act-4.jpg')
                                a(href='images/act-5.jpg')
                                a(href='images/act-2.jpg')