main.page-main
    .container
        .is-row.half-content
            aside(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице                    
                ul.aside-menu
                    li: a(href='#') Общая информация
                    li: a(href='#') История
                    li.active: a(href='#') Наша команда
                    li: a(href='#') Направления деятельности
                    li: a(href='#') Свидетельства и сертификаты
                    li: a(href='#') Награды
            section(class=section)
                h1.main-title
                    a(href='#'): i.icon-return
                    = title
                .swiper.team-slider
                    .swiper-wrapper
                        - for (var x = 1; x < 5; x++)
                            .team-slider__item.swiper-slide
                                .team-slider__item-img
                                    span
                                    img(src='images/worker.jpg', alt='')
                                .team-slider__item-desc
                                    .team-slider__item-name
                                        h5 Андреев #[br] Александр Витальевич
                                        p главный инженер
                                    .team-blockqoute Приветственная речь, или фраза на одну строку, но скорее на две
                    .swiper-custom.is-col__lg-9
                        .swiper-button-prev
                        .swiper-pagination
                        .swiper-button-next
