main.page-main
    .container
        .is-row.half-content
            aside(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
                ul.aside-menu
                    li: a(href='#') Карьера и развитие
                    li.active: a(href='#') Вакансии
                    li: a(href='#') Доска почета / сотрудники
            section(class=section)
                h1.main-title.main-title--half
                    a(href='#'): i.icon-return
                    = title
                .tabs
                  ul.tabs__caption
                    li.active: a(href='#') Все     
                    li: a(href='#') Категория 2     
                    li: a(href='#') Категория 3     
                    li: a(href='#') Категория 4     
                  .tabs__content.active
                      .accordion
                        - for (var x = 1; x < 7; x++)
                            .accordion__item
                                .accordion-header.accordion__link--js 
                                    .title
                                        img(src='images/plus.svg', alt='')
                                        span Руководитель группы проектирования
                                    .date 20 декабря 2017
                                .accordion-body
                                    h5 Требования:
                                    ul.list--bullet 
                                        li образование: высшее техническое образование
                                        li опыт работы: участие в разработке / конструировании или эксплуатации радиационно-защитного оборудования для 
                                        li опыт работы в проектных организациях или эксплуатирующих организациях отрасли, связанных с 
                                        li знание иностранных языков (технического) приветствуется.
                                    h5 Требования:
                                    ul.list--bullet 
                                        li образование: высшее техническое образование
                                        li опыт работы: участие в разработке / конструировании или эксплуатации радиационно-защитного оборудования для 
                                        li опыт работы в проектных организациях или эксплуатирующих организациях отрасли, связанных с 
                                        li знание иностранных языков (технического) приветствуется.
                                    a.btn.btn--primary.popup-modal(href='#form-id') Отправить резюме
                  .tabs__content 
                      .accordion
                        - for (var x = 1; x < 3; x++)
                            .accordion__item
                                .accordion-header.accordion__link--js 
                                    .title
                                        img(src='images/plus.svg', alt='')
                                        span Руководитель группы проектирования
                                    .date 20 декабря 2017
                                .accordion-body
                                    h5 Требования:
                                    ul.list--bullet 
                                        li образование: высшее техническое образование
                                        li опыт работы: участие в разработке / конструировании или эксплуатации радиационно-защитного оборудования для 
                                        li опыт работы в проектных организациях или эксплуатирующих организациях отрасли, связанных с 
                                        li знание иностранных языков (технического) приветствуется.
                                    a.btn.btn--primary.popup-modal(href='#form-id') Отправить резюме
                  .tabs__content
                     .accordion
                        - for (var x = 1; x < 5; x++)
                            .accordion__item
                                .accordion-header.accordion__link--js 
                                    .title
                                        img(src='images/plus.svg', alt='')
                                        span Руководитель группы проектирования
                                    .date 20 декабря 2017
                                .accordion-body
                                    h5 Требования:
                                    ul.list--bullet 
                                        li образование: высшее техническое образование
                                        li опыт работы: участие в разработке / конструировании или эксплуатации радиационно-защитного оборудования для 
                                        li опыт работы в проектных организациях или эксплуатирующих организациях отрасли, связанных с 
                                        li знание иностранных языков (технического) приветствуется.
                                    a.btn.btn--primary.popup-modal(href='#form-id') Отправить резюме
                  .tabs__content
                      .accordion
                         - for (var x = 1; x < 4; x++)
                            .accordion__item
                                .accordion-header.accordion__link--js 
                                    .title
                                        img(src='images/plus.svg', alt='')
                                        span Руководитель группы проектирования
                                    .date 20 декабря 2017
                                .accordion-body
                                    h5 Требования:
                                    ul.list--bullet 
                                        li образование: высшее техническое образование
                                        li опыт работы: участие в разработке / конструировании или эксплуатации радиационно-защитного оборудования для 
                                        li опыт работы в проектных организациях или эксплуатирующих организациях отрасли, связанных с 
                                        li знание иностранных языков (технического) приветствуется.
                                    a.btn.btn--primary.popup-modal(href='#form-id') Отправить резюме
                include ../components/_paginator
