main.page-main
    .container
        .is-row.half-content
            div(class=aside)
                a.return-link.hidden__xs.hidden__sm(href='#')
                    i.icon-return
                    span К предыдущей странице
            section.news-one(class=section)
                h1.main-title
                    a(href='#'): i.icon-return
                    div
                        = title
                        .date #[b 2 сентября,] 13:45
                        .catalog__item-label.catalog__item-label--danger Видео
                .is-row
                    .is-col.is-col__lg-7.is-col__xs-12
                        a.addvideo.popup-youtube(href='http://www.youtube.com/watch?v=0O2aH4XLbto')
                            i.is-icons.is-icons--play
                            img(src='images/video.jpg', alt='')
                    .is-col.is-col__lg-5.is-col__xs-12.text__lg Назначение - комбинированная выработка электроэнергии и тепла для обеспечения потребителей Московского региона. Филиал АО «ТЭК Мосэнерго»  - «Мосэнергопроект» выступил генеральным проектировщиком, выполнив весь комплекс проектно-изыскательских работ
                h3 Другие материалы
                .media-catalog.catalog(data-count='4')
                    .media-catalog-inner
                        - for (var x = 1; x < 3; x++)
                            a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                .catalog__item-img
                                    img(src='images/catalog-2.jpg', alt='')
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--danger Видео
                                .catalog__item-desc
                                    h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
                            a.catalog__item.is-col__lg-3.is-col__md-4.is-col__xs-12(href='#')
                                .catalog__item-img
                                    img(src='images/catalog-2.jpg', alt='')
                                .catalog__item-date #[b 2 сентября,] 13:45
                                .catalog__item-label.catalog__item-label--success Видео
                                .catalog__item-desc
                                    h6 Аттестация электрической #[br] мощности на энергоблоке #[br] ПГУ-220 ТЭЦ 12
