extends layouts/_default

block title
    title Case__fly
    - var title = 'Карьера и развитие'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_carrer

block siteFooter
    include partials/_footer
