extends layouts/_default

block title
    title Case__fly
    - var title = 'Комплексное проектирование тепловых электростанций, подстанций, котельных, тепловых и электрических сетей'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-wh

block siteMain
    include pages/_direction

block siteFooter
    include partials/_footer
