extends layouts/_default

block title
    title Case__fly
    - var title = 'Кадровая политика'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_hr

block siteFooter
    include partials/_footer
