extends layouts/_default

block title
    title Case__fly
    - var title = 'Новости отрасли'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_industry

block siteFooter
    include partials/_footer
