extends layouts/_default

block title
    title Case__fly
    - var title = 'Новости компании'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_news

block siteFooter
    include partials/_footer
