extends layouts/_default

block title
    title Case__fly
    - var title = 'Реализация проекта строительства «ПС 220 КВ Восточная промзона»'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_news-one

block siteFooter
    include partials/_footer
