extends layouts/_default

block title
    title Case__fly
    - var title = 'Кадровая политика'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-wh

block siteMain
    include pages/_page404

block siteFooter
    include partials/_footer-fix
