extends layouts/_default

block title
    title Case__fly
    - var title = 'Cвидетельства и сертификаты'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_sert

block siteFooter
    include partials/_footer
