extends layouts/_default

block title
    title Case__fly
    - var title = 'Наша команда'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_team

block siteFooter
    include partials/_footer
