extends layouts/_default

block title
    title Case__fly
    - var title = 'Управление работами на РТС «Терешково»'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_video

block siteFooter
    include partials/_footer
