//- Custom Configuration
block config
  - var baseUrl   = true
  - var aside     = 'aside is-col is-col__md-2 is-col__xs-12' 
  - var section   = 'section is-col is-col__md-10 is-col__xs-12'
  - var adaptive  = true // choose website type
  
doctype html
html(lang="en")

  include ../mixins/_mixins

  head
    meta(charset="UTF-8")

    block title
        title Case__fly
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    <![endif]-->
    if adaptive == true
      meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")

    // iOS
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="Case__fy")
    link(rel="apple-touch-icon", href="images/touch/apple-touch-icon.png")

    // Android
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="theme-color", content="#f8aa27")
    link(rel="icon" type="image/png" href="images/touch/android-chrome-192x192.png" sizes="192x192")

    // Windows
    meta(name="msapplication-TileImage", content="images/touch/mstile-144x144.png")
    meta(name="msapplication-TileColor", content="#f8aa27")

    // Standard
    link(rel="icon", type="image/png", href="images/touch/favicon.png", sizes="128x128")

    link(rel="shortcut icon", href="favicon.ico")

    // Styles
    //- build:css({.tmp,app}) styles/plugins.css -->
    <!--bower:css-->
    <link rel="stylesheet" href="../bower_components/magnific-popup/dist/magnific-popup.css" />
    <link rel="stylesheet" href="../bower_components/swiper/dist/css/swiper.css" />
    <link rel="stylesheet" href="../bower_components/pikaday/css/pikaday.css" />
    <link rel="stylesheet" href="../bower_components/fullpage.js/dist/jquery.fullpage.css" />
    <link rel="stylesheet" href="../bower_components/dropzone/dist/min/dropzone.min.css" />
    <!--endbower-->
    //- endbuild -->
    //- build:css({.tmp,app}) styles/main.css -->
    link(rel="stylesheet", href="styles/main.css")
    //- endbuild -->
    //- build:js(./app/) scripts/jquery.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    //- endbuild -->

  block pageName
    -var pageName = "main"

  body(class="page-" + pageName)
    <!--[if lt IE 9]>
    p.browsehappy
      | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
      a(href="http://browsehappy.com/", target="_blank") современных браузеров.
      |  Это бесплатно и займет всего несколько минут.
    <![endif]-->
    
    #back-to-top.to-top
        i.is-icons.is-icons--top
        div Вверх
    include ../components/_popups
    
    .mainsearch
        .container
            .media-search
                form    
                    input.control(type='text', placeholder='Поиск')
                    button(type='submit'): i.icon-search
            .mainsearch-close.mainsearch-close--js
                img(src='images/icons/close.svg', alt='')

    //- header
    block siteHeader
    //- main
    block siteMain
    //- footer
    block siteFooter

    block scripts
      <!--[if lt IE 9]>
      script(src= "https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js")
      <![endif]-->
      //- build:js(./app/) scripts/plugins.js -->
      <!--bower:js-->
      <script src="../bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
      <script src="../bower_components/pikaday/pikaday.js"></script>
      <script src="../bower_components/moment/moment.js"></script>
      <script src="../bower_components/dropzone/dist/min/dropzone.min.js"></script>
      <!--endbower-->
      script(src="scripts/plugins/flexmenu.min.js")
      script(src="../bower_components/moment/locale/ru.js")
      script(src="scripts/plugins/jquery.maskedinput.min.js")
      //- endbuild -->
      //- build:js(.tmp) scripts/index.js -->
      script(src="scripts/plugins/jquery.maskedinput.min.js")
      <script src="../bower_components/swiper/dist/js/swiper.js"></script>
      <script src="../bower_components/fullpage.js/dist/jquery.fullpage.js"></script>
      script(src="scripts/index.js")
      //- endbuild -->
      //- build:js(.tmp) scripts/main.js -->
      script(src="scripts/main.js")
      //- endbuild -->

      //- Google Analytics: change UA-XXXXX-X to be your site's ID.
        script.
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');
